/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}
  li {
    list-style: none;

  }
  /* CSS開始 */

  .clear {
    clear: left;
  }

  


  .container {
    width: 100%;
    /*padding-bottom: 15px;*/
    text-align: center;
  }

  .container h2{
    padding-bottom: 15px;
  }
header {
  height: 65px;
  width: 100%;
  background-color: rgba(105, 180, 136, 0.9);
  position:fixed;
  top:0;
  z-index:10;
  border-bottom: 1px solid #eeeeee;
}

header img {
  width: 65px;
  height: 65x;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px; 
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  /*padding: 21px 0;*/
  display:none;
}



.top-wrapper{
  padding: 180px 0 100px 0;
  background-image: url("scolor0035.jpg");
  background-size: cover;
  color: black;
  border-bottom: 1px solid rgb(196, 44, 44);
}

.food {
  float: left;
  width: 33%;
}

.workex-wrapper{
  border-bottom: 1px solid rgb(196, 44, 44);
  height: 100px;
  padding: 20px 0 50px 0;
  background-color: rgb(203, 233, 223);
  background-size: cover;
  color: black;
  
}

.btn {
  padding: 8px 0;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.message {
  /* padding: 15px 40px; */
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


footer {
  height: 65px;
  width: 100%;
  background-color: rgba(112, 206, 83, 0.9);
}

footer img {
  float: left;
  width: 65px;
  height: 65px;
}

footer p {
  color:rgb(59, 54, 54);
  font-size: 20px;
}

